.footer-basic {
    padding:27px 0;
    background-color:#4b4c4d;
    color:#fff;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    font-size:12px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:1;
}

.footer-basic ul a:hover {
    opacity:0.8;
}

.copyright {
    margin-top:15px;
    text-align:center;
    font-size:10px;
    color:#fff;
    background-color: #4b4c4d;
}